<%- include('navbar.ejs') %>

<!-- Form Page Content -->
<section class="form-group">
  <div class="container">
    <div class="form-wrapper">
      <h2>Update Website Details</h2>
      <form action="/admin/update_details" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="logo">Website Logo</label>
          <input type="file" name="admin_logo" accept="image/*">
          <img src="../admin/uploads/<%=company_info.admin_logo%>">
        </div>

        <div class="form-group">
          <label for="instagram">Comapany Name</label>
          <input type="text" id="" name="company_name" value="<%=company_info.company_name%>" required>
        </div>

        <div class="form-group">
          <label for="email">Website Email</label>
          <input type="email" value="<%=company_info.admin_email%>" name="admin_email" required>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input type="tel" id="mobile" name="admin_mobile" value="<%=company_info.admin_mobile%>" required>
        </div>

        <div class="form-group">
          <label for="instagram">Instagram Link</label>
          <input type="url" id="instagram" name="admin_insta" value="<%=company_info.admin_insta%>" required>
        </div>

        <div class="form-group">
          <label for="linkedin">LinkedIn Link</label>
          <input type="url" id="linkedin" name="admin_linkedin" value="<%=company_info.admin_linkedin%>" required>
        </div>

        <div class="form-group">
          <label for="facebook">Facebook Link</label>
          <input type="url" id="facebook" name="admin_facebook" value="<%=company_info.admin_facebook%>" required>
        </div>

        <div class="form-group">
          <label for="youtube">YouTube Link</label>
          <input type="url" id="youtube" name="admin_youtube" value="<%=company_info.admin_youtube%>" required>
        </div>
         <div class="form-group">
          <label for="youtube">Address</label>
          <textarea cols="2" name="admin_address" required><%=company_info.admin_address%></textarea>
        </div>

        <button type="submit" class="submit-btn">Update</button>
      </form>
    </div>
  </div>
</section>

<%- include('footer.ejs') %>
