<%- include('navbar.ejs') %>

<!-- Form Page Content -->
<section class="form-group">
  <div class="container">
    <div class="form-wrapper">
      <h2>Update Admin Profile</h2>
      <form action="/admin/update_adminProfile" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="admin_name">Name</label>
          <input type="text" name="admin_name" value="<%=profile_data.admin_name%>" required>
        </div>

         <div class="form-group">
          <label for="admin_bio">Bio</label>
          <textarea name="admin_bio" rows="2" required><%=profile_data.admin_bio%></textarea>
        </div>

        <div class="form-group">
          <label for="admin_email">Email</label>
          <input type="email" name="admin_email" value="<%=profile_data.admin_email%>" required>
        </div>

        <div class="form-group">
          <label for="admin_mobile">Number</label>
          <input type="number" name="admin_mobile" value="<%=profile_data.admin_mobile%>" required>
        </div>

        <div class="form-group">
          <label for="admin_address">Address</label>
          <textarea name="admin_address" rows="2" required><%=profile_data.admin_address%></textarea>
        </div>

        <button type="submit" class="submit-btn">Update </button>
      </form>
    </div>
  </div>
</section>

<%- include('footer.ejs') %>

